{% extends "base.html" %}

{% block content %}
<h2 style="text-align:center;"><strong> Редактирование видео </strong></h2>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="card bty" style="width:600px;">
        <div class="row row-cols-2">
            <div class="col mb-3">
                {{ form.title.label }}
                {{ form.title(class="form-control") }}
                {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="col mb-3">
                {{ form.description.label }}
                {{ form.description(class="form-control", type="text", style="resize:none; height:200px;") }}
                {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="col mb-3">
                {{ form.preview.label }}
                {{ form.preview(class="form-control", type="file", accept="image/*") }}
                {% for error in form.preview.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" id="submit" name="submit" value="Submit" class="btn btn-primary">Загрузить</button>
        </div>
    </div>
</form>
{% endblock %}