{% extends "base.html" %}

{% block content %}
<div class="addtag" style="text-align:center;">
    <i class="bi-cloud-rain-heavy-fill" style="font-size: 3rem; color: cornflowerblue;"></i>
</div>
<h2 style="text-align:center;"><strong>Добавьте новый тэг, пожалуйста</strong></h2>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="card bty" style="width:600px;">
        <div class="row row-cols-1">
            <div class="col mb-3">
                {{ form.content.label }}<br>
                {{ form.content(class="form-control", type="content") }}<br>
                {% for error in form.content.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </div>
</form>
{% endblock %}
