{% extends "base.html" %}

{% block content %}
        <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.content.label }}<br>
                {{ form.content(class="form-control", type="content") }}<br>
                {% for error in form.content.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div>{{ message }}</div>
        </form>
{% endblock %}
